<div class="jumbotron">
  <h2>
    Hello, world!
  </h2>
  <p>
    This is a template for a simple marketingor ....
  </p>
  <p>
    <a class="btn btn-primary btn-large" href="#">Learn more</a>
  </p>
</div>